[Unit]
Description=E2guardian Web filtering
After=network.target
StartLimitIntervalSec=0

[Service]
TasksMax=infinity
LimitNOFILE=65535
LimitSTACK=infinity:infinity
Type=forking
IgnoreSIGPIPE=no
GuessMainPID=no
ExecStart=/usr/sbin/e2guardian
ExecReload=/usr/sbin/e2guardian -r
UMask=027
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
